.content {
  background: url("https://images.unsplash.com/photo-1485918452899-9b7cb70dbfdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80")
    center no-repeat;
  background-size: cover;
  height: inherit;
  overflow: auto;
  height: 100%;
}
.post-title {
  text-align: center;
}
.post-content {
  text-align: left;
  padding: 0 5vw;
}
