/* HERO */
.hero {
  background-image: url("http://css3.zerois.net/images/image-back.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  padding: 10% 20% 0 20%;
}

.hero-text {
  width: inherit;
  text-align: center;
  background-color: rgba(255, 250, 250, 0.76);
  border-radius: 10px;
  padding: 40px;
}

.hero-text h1 {
  animation: topslide 3s;
}

@keyframes topslide {
  0% {
    top: -40px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}
