.content {
  background-color: #dfe6e9;
}

.post_list {
  height: inherit;
  overflow: auto;
  height: 100%;
  padding-bottom: 50px;
}

.bubble {
  background-color: #b2bec3;
  margin: 50px auto;
  width: 65vw;
}
.bubble .bubble-title a {
  color: black;
}
.bubble .bubble-content {
  background-color: transparent;
}

.bubble .bubble-content p {
  margin: 0;
}
