.content {
  background: url("https://images.unsplash.com/photo-1523939706065-fa4ac466210d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
  width: inherit;
}
