.content {
  background: url("https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    center no-repeat;
  background-size: cover;
  width: inherit;
  height: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.clock {
  padding: 20vh 5vw 5px 5vw;
}
.clock h1 {
  text-align: center;
  font-size: 80px;
  text-shadow: 1px 1px 1px silver;
  color: white;
}

.greeting h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-shadow: 1px 1px 1px silver;
  color: white;

  animation: fadeIn 0.7s;
}
.greeting {
  text-align: center;
}

.greeting input {
  height: 45px;
  font-size: 40px;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
.weather {
  text-align: center;
}

.weather button {
  font-size: 40px;
  text-shadow: 1px 1px 1px silver;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.weather h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-shadow: 1px 1px 1px silver;
  color: white;
  animation: fadeIn 0.7s;
}
@media (max-width: 700px) {
  .clock h1 {
    font-size: 3rem;
  }

  .greeting h1 {
    font-size: 2rem;
  }

  .greeting input {
    height: 5vh;
    font-size: 1.2rem;
    max-width: 50%;
  }
  .weather h1 {
    font-size: 1.2rem;
  }
  .weather button {
    font-size: 1.2rem;
  }
}
